<% if @team.save %>
$('.creating-team-error').html('<p style="color: green;">Success</p>');
$('#creating_new_team').modal('toggle');
window.location.href='teams/'+<%= @team.id %>;
<% else %>
$('.creating-team-error').html('<p style="color: red;">We had a problem adding your team please try again.</p>');
<% end %>