<div class="container ptb">
  <div class="row">
    
    <div class="col-md-12">

      <% @teams.each do |team| %>
        <div class="event event-61 col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 27px;">
          <div class="event-wrapper">
            <%= link_to team do %>
              <div class="inner">
                
                <div class="image-wrap"><img style="width: 100%;" alt="<%= team.name %>" src="<%= team.avatar %>"></div>
                <h3><%= team.name %></h3>
              </div>
            <% end %>  
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>