.container
  .row
    %h2 30 Second Pitch
    %hr.aligncenter.mb{:style => "margin-left: 0px; margin-right: 0px;"}
      - if @team.video.present?
        Something
      - else
        %a.btn.btn-info{:href => "#", :style => "margin: 0px 16px 26px 0px;"} Record Your Pitch
  .row
    %h2 Team Members
    %hr.aligncenter.mb{:style => "margin-left: 0px; margin-right: 0px;"}
    .col-md-2
      - @team.users.each do |member|
        = gravatar_image_tag(member.email.gsub('spam', 'mdeering'), :alt => current_user.name, :class => "img-thumbnail", :style => "width: 100%;")
        %h3= member.name