<div class="container">
  <div class="row">
    
    <div class="col-md-4" style="background: #194374; padding-bottom: 42px;">
      <%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.name, :class => "img-thumbnail hacker-avatar") %>

      <ul class="hacker-info">
        <li>
          <h3><%= current_user.name %></h3>
        </li>
        <li>
          <h3><%= current_user.email %></h3>
        </li>
        <% if current_user.team_id.present? %>
          <li>
            <h3>Team: <%= link_to current_user.team.name, team_path(current_user.team_id) %></h3>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-8">
      s
    </div>

  </div>
</div>