<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>

  <!-- Define Charset -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Responsive Meta Tag -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />

  <title></title><!-- Responsive Styles and Valid Styles -->

  <style type="text/css">

    body{
      width: 100%;
      background-color: #ffffff;
      margin:0;
      padding:0;
      -webkit-font-smoothing: antialiased;
      mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;
    }

    p,h1,h2,h3,h4{
      margin-top:0;
      margin-bottom:0;
      padding-top:0;
      padding-bottom:0;
    }

    span.preheader{display: none; font-size: 1px;}

    html{
      width: 100%;
    }

    table{
      font-size: 14px;
      border: 0;
    }

    .btn {
      background: #27abc9;
      background-image: -webkit-linear-gradient(top, #27abc9, #2980b9);
      background-image: -moz-linear-gradient(top, #27abc9, #2980b9);
      background-image: -ms-linear-gradient(top, #27abc9, #2980b9);
      background-image: -o-linear-gradient(top, #27abc9, #2980b9);
      background-image: linear-gradient(to bottom, #27abc9, #2980b9);
      font-family: Arial;
      border: none;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #27abc9);
      background-image: -moz-linear-gradient(top, #3cb0fd, #27abc9);
      background-image: -ms-linear-gradient(top, #3cb0fd, #27abc9);
      background-image: -o-linear-gradient(top, #3cb0fd, #27abc9);
      background-image: linear-gradient(to bottom, #3cb0fd, #27abc9);
      text-decoration: none;
    }

    /* ----------- responsivity ----------- */
    @media only screen and (max-width: 640px){
      /*------ top header ------ */
      body[yahoo] .show{display: block !important;}
      body[yahoo] .hide{display: none !important;}

      /*----- main image -------*/
      body[yahoo] .main-image img{width: 440px !important; height: auto !important;}

      /* ====== divider ====== */
      body[yahoo] .divider img{width: 440px !important;}

      /*--------- banner ----------*/
      body[yahoo] .banner img{width: 440px !important; height: auto !important;}
      /*-------- container --------*/
      body[yahoo] .container590{width: 420px !important;}
      body[yahoo] .container580{width: 420px !important;}

      /*-------- secions ----------*/
      body[yahoo] .section-item{width: 440px !important;}
      body[yahoo] .section-img img{width: 440px !important; height: auto !important;}
    }

    @media only screen and (max-width: 479px){
      /*------ top header ------ */
      body[yahoo] .main-header{font-size: 20px !important;}
      body[yahoo] .resize-text{font-size: 13px !important;}

      /*----- main image -------*/
      body[yahoo] .main-image img{width: 280px !important; height: auto !important;}

      /* ====== divider ====== */
      body[yahoo] .divider img{width: 280px !important;}
      body[yahoo] .align-center{text-align: center !important;}


      /*-------- container --------*/
      body[yahoo] .container590{width: 280px !important;}
      body[yahoo] .container580{width: 250px !important;}

      body[yahoo] .section-img img{width: 280px !important; height: auto !important;}

      /*------- CTA -------------*/
      body[yahoo] .cta-button{width: 200px !important;}
      body[yahoo] .cta-text{font-size: 15px !important;}
    }

  </style>
</head>

<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

  <!-- ======= main section ======= -->
  <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="2b2e34" style="background-image: url(<%= image_path('header.jpg') %>); background-size: 100% 100%; background-position: top center;" background="<%= image_path('header.jpg') %>">

    <tr><td height="90" style="font-size: 90px; line-height: 90px;">&nbsp;</td></tr>

    <tr>
      <td>
        <table border="0" align="center" width="520" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container590 bodybg_color">

          <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

          <tr><td height="35" style="font-size: 35px; line-height: 35px;">&nbsp;</td></tr>

          <tr>
            <td style="color: #27abc9; font-size: 30px; font-family: 'Questrial', sans-serif; mso-line-height-rule: exactly; line-height: 30px; padding-left: 49px;" class="title_color">

              <!-- ======= section header ======= -->

              <div style="line-height: 30px;">

                Lets Hack Together.

              </div>
            </td>
          </tr>

          <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

          <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>

          <tr>
            <td>
              <table border="0" width="420" align="center" cellpadding="0" cellspacing="0" class="container580">
                <tr>
                  <td align="center" style="color: #66717d; font-size: 14px; font-family: 'Questrial', sans-serif; mso-line-height-rule: exactly; line-height: 24px;" class="resize-text text_color">
                    <div style="line-height: 24px; text-align: left;">

                      <!-- ======= section text ======= -->

                      <p style="margin: 0px 0px 15px 0px;">
                        <%= link_to @admin.name, hacker_profile_path(@admin.id), :target => "_blank" %> has invited you to join team: <%= link_to @team.name, team_path(@team.id), :target => "_blank" %> for the Miami Bitcoin Hackathon.
                      </p>

                      <p style="margin: 0px 0px 15px 0px;">
                        To accept this invite please click bellow.
                      </p>

                      <p style="margin: 0px 0px 15px 0px;">
                        <a class="btn">Lets Do It!</a>
                      </p>

                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container590">
          <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>
          
          <tr>
            
            <td style="color: #66717d; font-size: 14px; font-family: 'Questrial', sans-serif; mso-line-height-rule: exactly; line-height: 30px; padding-left: 49px;" class="text_color">
              <div style="line-height: 30px">
                
                <!-- ======= section text ======= -->
                Sincerely, <br>
                The Blockchain Beach Team
                    
              </div>
            </td> 
          </tr>
          
          <tr><td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td></tr>
        </table>
      </td>
    </tr>

    <tr><td height="90" style="font-size: 90px; line-height: 90px;">&nbsp;</td></tr>

  </table>
  <!-- ======= end header ======= -->

</body>
</html>
