.container.ptb
  .row
    %h2.centered Success
    %hr.aligncenter.mb
      .col-md-12
        %h2.centered You will be recieving an email soon with more information about the event date and Team Dashboard.
