<div class="container ptb">
  <div class="row">
    <h2 class="centered">Success</h2>
    <hr class="aligncenter mb">

    <div class="col-md-12">
      <h2>You will be recieving an email soon with more information about the Developer Dashboard.</h2>      
    </div>
  </div>
</div><!--/container-->