<div class="container ptb">
  <div class="row">
    <h2 class="centered">Blockchain Beach Hackathon “Miami Bitcoin Hackathon” Rules, Terms and Conditions</h2>
    <hr class="aligncenter mb">

    <div class="col-md-12">
      <p>
        The Blockchain Beach Hackathon Rules, Terms and Conditions (“Agreement”) is a contract between you and Blockchain Beach, Inc.. (“Blockchain Beach, Inc.,” the “Company,” “we,” or “us” or “Blockchain Beach”). You must read, agree with and accept all of the terms and conditions contained in this Agreement as a condition of participating in Blockchain Beach Hackathon (the “Contest”)
      </p>

      <ol>
        <li>
          <p>
            Eligibility: You must be 18 years of age or older to participate in the Contest. Any participant who wishes to participate in the Contest who is less than 18 years old must have the written consent of their legal guardian(s) and give notice of this written consent prior to us within 24 hours prior to the commencement of the Contest. The Contest is subject to applicable federal, state and local laws. Laws of the United States govern.
          </p>
        </li>
        <li>
          <p>
            Contest Description: The Contest is a competition among individuals or groups (“Participants”) who may compete to create a functional software application or prototype (“App,” or “Apps” or “Prototype”) which involves Bitcoin. The prizes will consist of: one (1) first place prize, awarded in Bitcoin in an amount equivalent to $10,000 at the time the award is delivered; one (1) second place prize, awarded in Bitcoin in an amount equivalent to $3,500 at the time the award is delivered; and one (1) third place prize, awarded in Bitcoin in an amount equivalent to $1,000 at the time the award is delivered. Blockchain Beach, Inc. will not be responsible for prizes offered by third party sponsors.  All prizes will be awarded in the sole, subjective discretion of Blockchain Beach, Inc. Criteria for judgment may include the originality of the App, its usefulness and functionality, the quality of implementation, and the viability of app or prototype to be a viable business plan. Blockchain Beach reserves the right to reject as ineligible any entry which, in its sole discretion, Blockchain Beach determines may violate the Blockchain Beach User Agreement, this Agreement, or any applicable law. Blockchain Beach’s decision concerning any mater relating to this Contest is final and binding on all Participants.
          </p>
        </li>
        <li>
          <p>
            Your submission may not be offensive, nor can it defame, or invade upon the publicity rights or privacy of any person or otherwise infringe upon any person or entity’s intellectual property, personal or proprietary rights, as determined by Blockchain Beach in its sole discretion. Any entrant whose App includes content or elements not owned by the entrant must be able to provide written legal releases (in a form satisfactory to Blockchain Beach) that permit the entrant to use and exploit such content and elements in the matter used and exploited and that permit Blockchain Beach’s right to use and exploit the content and materials in accordance with this Agreement, before eligible to be declared a winner.
          </p>
        </li>
        <li>
          <p>
            How to Participate: Eligible Participants may participate individually or as a team of no more than 5 people per team. Participants must register before January 7, 12:00 a.m. Midnight, Eastern Standard Time and sign up at our website: www.miamibitcoinhackathon.com and clicking the register link/button and following the instructions. To be eligible to receive a prize, Participants must submit their functional final App or Prototype during the 28 hour start/stop time period.  Blockchain Beach is not responsible for late, lost, incomplete, illegible, damaged, or misdirected entries. If you enter the Contest as a member of a team, you understand and agree that, in order for a team to be eligible to participate, all of the members of the team must meet the eligibility criteria contained herein and agree to this Agreement. By entering, you warrant that you have obtained the appropriate agreement and/or approval by your team members. In addition, you understand and agree that if the team is selected to receive a prize, the team is responsible for ensuring that the prize will be appropriately distributed to each member of the team. If one member of the team does not comply with this Agreement, the team as a whole will be disqualified. Each Participant is eligible to receive only one prize from Blockchain Beach, whether individually or as a group.
          </p>
        </li>
        <li>
          <p>
            Additional Conditions of Participation: Blockchain Beach will collect information from you for the purpose of the Contest and may attempt to contact you. All materials submitted in connection with this Contest will not be returned. By participating, you agree to be bound by these Rules including all eligibility requirements. Participants acknowledge and agree that all entry materials submitted in connection with this competition are submitted on a non-confidential basis and may be used by Blockchain Beach, its agents, subsidiaries, and related companies, for promotional purposes. Blockchain Beach reserves all rights, including the right to edit, publish, use, adapt, and modify proper names, likenesses, and photographs for advertising and promotional purposes in all media (including, but not limited to, the internet) without additional compensation, expect where prohibited by law.
          </p>
        </li>
        <li>
          <p>
            Winner Notification: If a Participant changes his/her telephone number, email address, and/or street address after he/she enters the Competition, it is his/her sole responsibility to notify Blockchain Beach before the end of the Contest. If Blockchain Beach or its authorized agents are unable to contact the potential winners within fourteen (14) calendar days after the first attempted notification, alternative winners may be chosen. Potential winners may be required to provide copies of Intellectual Property (IP) Releases (if applicable) and may be required to sign an affidavit of eligibility and liability release, and, where legal, a publicity release and a federal and state tax release and return the same. Failure to return any or all documents, properly executed, or if any document is returned as undeliverable, will result in disqualification. Blockchain Beach may ask winners to verify their identity, proof of age, and/or country of residence.
          </p>
        </li>
        <li>
          <p>
            Grant of License: All Contest submissions shall remain the property of the submitting Participant. Each Participant agrees that Blockchain Beach may, without any limitation or further compensation, use his or her name, voice and/or likeness in any and all media for the purpose of advertising and promoting Blockchain Beach or the Contest. By submitting an App or Prototype, the Participant acknowledges and agrees that Blockchain Beach may obtain many entries in connection with this and/or other competitions staged and/or promoted by Blockchain Beach, and that such entries may be similar or identical in theme, idea, format, or other respects to other entries. Participants waive any and all claims they may have had, may have, and/or may have in the future, that any Participant and/or other works accepted, reviewed and/or used by the Participant may be similar to his or her submission, or that any compensation is due to the Participant in connection with such submission. By submitting an App, the Participant grants permission for the App to be posted and/or linked to on a Blockchain Beach website.
          </p>
        </li>
        <li>
          <p>
            Representations and Warranties: Each Participant represent and warrants: (1) that he/she is the original author (or represents and warrants that the owner of such rights has expressly granted any and all rights to the Participant) of any and all materials submitted to Blockchain Beach; (2) the Participant will not infringe on any third party’s copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy. Participants are prohibited from posting, uploading, or otherwise sending to Blockchain Beach any materials that infringe on any copyright, trademark or proprietary rights of another; (3) that the submission is not the subject of any actual or threatened litigation or claim; (4) that the submission is not obscene, offensive, libelous, pornographic, threatening, abusive, contains illegal content, or is otherwise objectionable, that would constitute or encourage a criminal offense, or that would otherwise give rise to liability or violate any law; and (5) participants can only contribute code toward their respective team and cannot share code, ideas or contribute code towards other teams. You will indemnify and hold Blockchain Beach harmless for any claims in relation to your submission. Participants acknowledge that nothing herein shall constitute an employment, joint venture, or partnership relationship between the Participant and Blockchain Beach.
          </p>
        </li>
        <li>
          <p>
            Limitation of Liability: IN NO EVENT SHALL BLOCKCHAIN BEACH, ITS AFFILIATES AND SERVICE PROVIDERS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES OR REPRESENTATIVES, BE LIABLE FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE BLOCKCHAIN BEACH SITE, THE CONTEST, OR THIS AGREEMENT (HOWEVER ARISING, INCLUDING NEGLIGENCE). Some states do not allow the exclusion or limitation of incidental or consequential damages so the above limitation or exclusion may not apply to you. IF YOU HAVE A DISPUTE WITH ANY PARTICIPANT OR ANY OTHER THIRD PARTY, YOU RELEASE BLOCKCHAIN BEACH, ITS AFFILIATES AND SERVICE PROVIDERS, AND EACH OF THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES AND REPRESENTATIVES FROM ANY AND ALL CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH DISPUTES. You agree that any claims against Blockchain Beach arising out of the Contest or this Agreement must be filed within one year after such claim arose; otherwise, your claim is permanently barred.
          </p>
        </li>
        <li>
          <p>
            Indemnification. You agree to indemnify and hold Blockchain Beach, its affiliates and Service Providers, and each of their respective officers, directors, agents, joint ventures, employees and representatives, harmless from any claim or demand (including attorneys’ fees and any fines, fees or penalties imposed by any regulatory authority) arising out of or related to (i) your breach of this Agreement, (ii) your use of the Blockchain Beach or Contest website and/or participation in the Contest, or (iii) your violation of any law, rule or regulation, or the rights of any third party.
          </p>
        </li>
        <li>
          <p>
            Dispute Resolution. You may contact us at 10655 SW 190th Street, #2108, Miami, FL 33157. Any dispute arising under this Agreement shall be finally settled on an individual basis in accordance with the American Arbitration Association’s rules for arbitration of consumer-related disputes and you and Blockchain Beach hereby expressly waive trial by jury. The arbitration shall take place in Miami, FL in the English language (with interpreter if needed) and the arbitral decision may be enforced in any court.
          </p>
        </li>
      </ol>
    </div>
  </div>
</div><!--/container-->