/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'ionicons';

/* iPhone 5 & 5S in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  #h {
    min-height: 486px;
    padding-top: 41px;
    background: url(image-path('header.jpg')) no-repeat center top;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .container {

      .row {

        h1 {
          font-size: 56px;
        }
      }

      .mt {

        .register-now-button {
          margin: 0px;
        }

        .learn-more-button {
          margin: 0px;
        }
      }
    }
  }
}

/* iPhone 5 & 5S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  #h {
    padding-top: 74px;
    background: url(image-path('header.jpg')) no-repeat center top;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .container {

      .row {

        h1 {
          font-size: 56px;
        }
      }

      .mt {

        .register-now-button {
          margin: 0px;
        }

        .learn-more-button {
          margin: 0px;
        }
      }
    }
  }
}

.rules-terms {

  ol {
    padding: 0px 0px 0px 13px;

    li {
      word-wrap: break-word;
      padding: 0px 0px 0px 12px;
    }
  }
}